
{:paths ["source-code/cljs"]
 :deps  {mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "9175f09f689a56634556545108f731d957ad793c"}
         bithandshake/cljc-fruits     {:git/url "https://github.com/bithandshake/cljc-fruits"
                                       :sha     "e2fb9d3ec28fb80d464ee31a73f6d999b4a7bd87"}
         org.clojure/clojurescript    {:mvn/version "1.10.891"}
         pretty-project/ugly-ui       {:git/url "https://github.com/pretty-project/ugly-ui"
                                       :sha     "cbcdedb56e7d60c9e822799bf3b4aa9f822ffb3a"}
         reagent/reagent              {:mvn/version "1.2.0"}}}
